<br>
<h3 class="display-5" *ngIf="assoc !== null">Gene-Drug Associations</h3>
<table class="table table-bordered"  *ngIf="assoc !== null">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td class="text-lg-center" [ngStyle]="{'background-color': '#F2F2F2'}">Known Drugs</td>
            <td>
                <button *ngFor="let assocDrug of assoc.assocDrugs"
                    [ngStyle]="{'background-color': getDrugColor(assocDrug)}"
                    placement="top" ngbTooltip="{{assocDrug.assocAmount}}" 
                    class="btn btn-light" (click)="viewDrugDetails(assocDrug)">
                    {{assocDrug.drug}}
                </button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<h3 class="display-5" *ngIf="assoc !== null">Gene-Disease Associations</h3>
<table class="table table-bordered"  *ngIf="assoc !== null">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td class="text-lg-center" [ngStyle]="{'background-color': '#F2F2F2'}">Known Diseases</td>
            <td>
                <button *ngFor="let assocDisease of assoc.assocDiseases"
                    [ngStyle]="{'background-color': getDiseaseColor(assocDisease)}"
                    placement="top" ngbTooltip="{{assocDisease.assocAmount}}"
                    class="btn btn-light" (click)="viewDiseaseDetails(assocDisease)">
                    {{assocDisease.disease}}
                </button>
            </td>
        </tr>
    </tbody>
</table>

<style>
    tr {
          white-space: normal;
      }

      table {
          width: 100%;
          table-layout: auto;
      }

      .feature {
          width: 30px;
      }

      .response {
          width: 10%;
      }

      .level {
          width: 7.5%;
      }

      .label {
          width: 7.5%;
      }

      .drug {
          overflow: scroll;
          width: 20px;
      }
</style>


<!--      <br>-->
<!--      <h3 class="display-5">association</h3>-->
<!--      <table class="table table-sm table-bordered" *ngIf="assoc !== null">-->
<!--          <thead>-->
<!--          <tr class="text-left">-->
<!--              <th class="name">Variant Name</th>-->
<!--              <th class="env">Enviromental Contexts</th>-->
<!--              <th class="phenotype">Phenotypes</th>-->
<!--              <th class="disease">Diseases</th>-->
<!--              <th class="drug">Drugs</th>-->
<!--              <th class="response">Response</th>-->
<!--              <th class="level">Evidence Level</th>-->
<!--              <th class="label">Evidence Label</th>-->
<!--              <th class="feature">Features</th>-->
<!--              <th class="url">Publication Url</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let assocReference of assoc.assocReferences">-->
<!--              <td>{{assocReference.variantName}}</td>-->
<!--              <td>{{assocReference.envContexts}}</td>-->
<!--              <td>{{assocReference.phenotypes}}</td>-->
<!--              <td>{{assocReference.diseases}}</td>-->
<!--              <td>{{assocReference.drugs}}</td>-->
<!--              <td>{{assocReference.response}}</td>-->
<!--              <td>{{assocReference.evidence_level}}</td>-->
<!--              <td>{{assocReference.evidence_label}}</td>-->
<!--              <td>{{assocReference.features}}</td>-->
<!--              <td>-->
<!--                  <button *ngFor="let url of getUrls(assocReference)" class="btn btn-light btn-link"-->
<!--                          (click)="openUrl(url)">{{url}}</button>-->
<!--              </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--      </table>-->