<style>
#wrapper {
    padding: 5px;
    margin: 15px 50px;
}

.instructionBlock {
    border: 1px solid #cecece;
    box-shadow: 1px 3px #cfcfcf;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.instructionHeading {
    text-align: center;
}

.instructionBlock p {
    font-size: 20px;
}

.display-2 {
    font-weight: 550;
}

.display-4 {
    font-weight: 500;
}

button {
    font-size: 30;
}
</style>


<div id="wrapper">
    <div class="instructionBlock">
        <h2 class="display-2" style="text-align: center;">Server Logins</h2>
    </div>
    <hr>
    <div class="instructionBlock">
        <h4 class="display-4 instructionHeading">Logins</h4>
        <button (click)="vaSignIn()">  
            Login to VA  
        </button> 
        <br><br><br>
        <button (click)="cmsSignIn()">  
            Login to CMS  
        </button> 
        
    </div><br>
    <div class="instructionBlock">
        <h4 class="display-4 instructionHeading">Server Information</h4>
        <p>The SMART Cancer Navigator connects to two medical records servers: <b>Vetarans Affairs (VA)</b> and <b>Centers for Medicare and Medicaid Services (CMS)</b>.</p>
        <br>
        <p>The app can connect to these servers to display data about a patient's conditions.</p>
    </div>
    <br>
    
    
    <br>
    
    
</div>